@page "/"
@page "/feed"

<PageTitle>Seseurian - Tempat berbagi kenangan yang asyik</PageTitle>


<div class="container m-auto">

    <h1 class="lg:text-2xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mb-5"> Feed </h1>

    <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">

        <!-- left sidebar-->
        <ListPostPage UserName="@Username"></ListPostPage>

        <!-- right sidebar-->
        <div class="lg:w-5/12">

            <WhoToFollowPage></WhoToFollowPage>

            <div class="mt-5" uk-sticky="offset:28; bottom:true ; media @("@m")">
                <div class="bg-white dark:bg-gray-900 shadow-md rounded-md overflow-hidden">

                    <div class="bg-gray-50 border-b border-gray-100 flex items-baseline justify-between py-4 px-6 dark:bg-gray-800 dark:border-gray-700">
                        <h2 class="font-semibold text-lg">Latest</h2>
                        <a href="explore"> See all</a>
                    </div>

                    <div class="grid grid-cols-2 gap-2 p-3 uk-link-reset">

                        <div class="bg-red-500 max-w-full h-32 rounded-lg relative overflow-hidden uk-transition-toggle">
                            <a href="#story-modal" uk-toggle>
                                <img src="assets/images/post/img2.jpg" class="w-full h-full absolute object-cover inset-0">
                            </a>
                            <div class="flex flex-1 justify-around items-center absolute bottom-0 w-full p-2 text-white custom-overly1 uk-transition-slide-bottom-medium">
                                <a href="#"> <i class="uil-heart"></i> 150 </a>
                                <a href="#"> <i class="uil-heart"></i> 30 </a>
                            </div>
                        </div>

                        <div class="bg-red-500 max-w-full h-40 rounded-lg relative overflow-hidden uk-transition-toggle">
                            <a href="#story-modal" uk-toggle>
                                <img src="assets/images/post/img7.jpg" class="w-full h-full absolute object-cover inset-0">
                            </a>
                            <div class="flex flex-1 justify-around items-center absolute bottom-0 w-full p-2 text-white custom-overly1 uk-transition-slide-bottom-medium">
                                <a href="#"> <i class="uil-heart"></i> 150 </a>
                                <a href="#"> <i class="uil-heart"></i> 30 </a>
                            </div>
                        </div>

                        <div class="bg-red-500 max-w-full h-40 -mt-8 rounded-lg relative overflow-hidden uk-transition-toggle">
                            <a href="#story-modal" uk-toggle>
                                <img src="assets/images/post/img5.jpg" class="w-full h-full absolute object-cover inset-0">
                            </a>
                            <div class="flex flex-1 justify-around  items-center absolute bottom-0 w-full p-2 text-white custom-overly1 uk-transition-slide-bottom-medium">
                                <a href="#"> <i class="uil-heart"></i> 150 </a>
                                <a href="#"> <i class="uil-heart"></i> 30 </a>
                            </div>
                        </div>

                        <div class="bg-red-500 max-w-full h-32 rounded-lg relative overflow-hidden uk-transition-toggle">
                            <a href="#story-modal" uk-toggle>
                                <img src="assets/images/post/img3.jpg" class="w-full h-full absolute object-cover inset-0">
                            </a>
                            <div class="flex flex-1 justify-around  items-center absolute bottom-0 w-full p-2 text-white custom-overly1 uk-transition-slide-bottom-medium">
                                <a href="#"> <i class="uil-heart"></i> 150 </a>
                                <a href="#"> <i class="uil-heart"></i> 30 </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>


</div>
@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string Username;
  
    protected override async Task OnInitializedAsync()
    {
      
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
           
            Username = user.Identity.Name;
           

        }

    }
}