@page "/"
@page "/index"
@page "/feed"

<PageTitle>Seseurian - Tempat berbagi kenangan yang asyik</PageTitle>


<div class="container m-auto">

    <h1 class="lg:text-2xl text-lg font-extrabold leading-none text-gray-900 tracking-tight mb-5"> Feed </h1>

    <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">

        <!-- left sidebar-->
        <ListPostPage UserName="@Username"></ListPostPage>

        <!-- right sidebar-->
        <div class="lg:w-5/12">

            <WhoToFollowPage></WhoToFollowPage>

            <LatestPostPage></LatestPostPage>

        </div>

    </div>


</div>
@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string Username;
  
    protected override async Task OnInitializedAsync()
    {
      
        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
           
            Username = user.Identity.Name;
           

        }

    }
}