@namespace Seseurian.Pages.Common
<div id="confirmDeleteModal" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog story-modal">
        <button class="uk-modal-close-default lg:-mt-9 lg:-mr-9 -mt-5 -mr-5 shadow-lg bg-white rounded-full p-4 transition dark:bg-gray-600 dark:text-white" type="button" uk-close></button>
        <div class="story-content p-4" data-simplebar>

            <p> @Message </p>

            <div class=" p-6 space-y-3">

                <button type="button" @onclick="OnClick" class="bg-pink-600 font-semibold p-2 mt-2 rounded-md text-center text-white w-full">
                    Yes
                </button>

            </div>


        </div>

    </div>
</div>

@code {
    [Parameter]
    public string Message { get; set; } = "Yakin ingin menghapus?";
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}