 <!-- Story modal -->
<div id="story-view" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog story-modal">
        <button class="uk-modal-close-default lg:-mt-9 lg:-mr-9 -mt-5 -mr-5 shadow-lg bg-white rounded-full p-4 transition dark:bg-gray-600 dark:text-white" type="button" uk-close></button>

        <div class="story-modal-media">
            <img src="assets/images/post/img4.jpg" alt="" class="inset-0 h-full w-full object-cover">
        </div>
        <div class="flex-1 bg-white dark:bg-gray-900 px-4">

            <div class="flex items-center justify-between mt-4 mb-2">
                <h3 class="font-bold text-lg"> Your Story </h3>
                <a href="#" class="text-blue-600"> Setting </a>
            </div>
            <ul class="space-y-1 -mx-1.5">
                <li>
                    <a class="flex items-center space-x-4 hover:bg-gray-100 dark:hover:bg-gray-900 p-2 rounded-md cursor-pointer">
                        <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                            <img src="assets/images/avatars/avatar-1.jpg"
                                 class="bg-gray-200 border border-white rounded-full w-12 h-12">
                        </div>
                        <div class="flex-1">
                            <div class="text-lg font-semibold"> Stella Johnson </div>
                            <div class="text-sm">
                                <span>  Share a photo or video </span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="flex items-center justify-between mt-4 mb-2">
                <h3 class="font-bold text-lg"> Friends Story </h3>
                <a href="#" class="text-blue-600"> See all </a>
            </div>
            <ul class="space-y-1 -mx-1.5">
                <li>
                    <a class="flex items-center space-x-4 bg-gray-100 dark:bg-gray-800 p-2 rounded-md cursor-pointer">
                        <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                            <img src="assets/images/avatars/avatar-2.jpg"
                                 class="bg-gray-200 border border-white rounded-full w-12 h-12">
                        </div>
                        <div class="flex-1 font-semibold">
                            <div class="text-lg"> Johnson smith </div>
                            <div class="text-sm">
                                <span class="text-blue-600"> 2 New</span>  <span> 3 Hr ago</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="flex items-center space-x-4 hover:bg-gray-100 dark:hover:bg-gray-800 p-2 rounded-md cursor-pointer">
                        <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                            <img src="assets/images/avatars/avatar-3.jpg"
                                 class="bg-gray-200 border border-white rounded-full w-12 h-12">
                        </div>
                        <div class="flex-1">
                            <div class="text-lg font-semibold"> Adrian Mohani </div>
                            <div class="text-sm">
                                <span class="text-blue-600"> 2 New</span>  <span> 3 Hr ago</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="flex items-center space-x-4 hover:bg-gray-100 dark:hover:bg-gray-800 p-2 rounded-md cursor-pointer">
                        <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                            <img src="assets/images/avatars/avatar-4.jpg"
                                 class="bg-gray-200 border border-white rounded-full w-12 h-12">
                        </div>
                        <div class="flex-1 font-semibold">
                            <div class="text-lg"> Alex Dolgove </div>
                            <div class="text-sm">
                                <span class="text-blue-600"> 2 New</span>  <span> 3 Hr ago</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="flex items-center space-x-4 hover:bg-gray-100 dark:hover:bg-gray-800 p-2 rounded-md cursor-pointer">
                        <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                            <img src="assets/images/avatars/avatar-5.jpg"
                                 class="bg-gray-200 border border-white rounded-full w-12 h-12">
                        </div>
                        <div class="flex-1">
                            <div class="text-lg font-semibold"> Johnson smith </div>
                            <div class="text-sm">
                                <span class="text-blue-600"> 2 New</span>  <span> 3 Hr ago</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="flex items-center space-x-4 hover:bg-gray-100 dark:hover:bg-gray-800 p-2 rounded-md cursor-pointer">
                        <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                            <img src="assets/images/avatars/avatar-6.jpg"
                                 class="bg-gray-200 border border-white rounded-full w-12 h-12">
                        </div>
                        <div class="flex-1 font-semibold">
                            <div class="text-lg"> Stella Johnson </div>
                            <div class="text-sm">
                                <span class="text-blue-600"> 2 New</span>  <span> 3 Hr ago</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="flex items-center space-x-4 hover:bg-gray-100 dark:hover:bg-gray-800 p-2 rounded-md cursor-pointer">
                        <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                            <img src="assets/images/avatars/avatar-2.jpg"
                                 class="bg-gray-200 border border-white rounded-full w-12 h-12">
                        </div>
                        <div class="flex-1">
                            <div class="text-lg font-semibold"> Alex Dolgove </div>
                            <div class="text-sm">
                                <span class="text-blue-600"> 2 New</span>  <span> 3 Hr ago</span>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>

        </div>

    </div>
</div>
@code {

}
